fastapi
uvicorn
python-multipart

streamlit
requests

numpy
pandas
scikit-learn
matplotlib

librosa
soundfile

tensorflow
librosa
numpy
pandas
scikit-learn
fastapi
uvicorn
streamlit
opencv-python
python-multipart
python-dotenv
keras
av
